.top {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #F7F7F7;
    border-bottom: solid 1px #EEEEEE;
    margin-bottom: 10px;
}
.top .content {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.top .content ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}
.top ul li {
    float: left;
    margin: 0 3px;
}
.top a {
    color: #666666;
    text-decoration: none;
    font: normal 13px/30px "microsoft yahei";
}
.top a:hover {
    color: red;
    text-decoration: underline;
}

.header {
    height: 110px;
    margin: 0 auto;
    width: 1200px;
    position: relative;
    z-index: 1000;
}
.header .content{
    height: 70px;
}
.header .logo{
    float: left;
}
.header .search{
    float: left;
    margin: 10px 15px auto 15px;
    width: 500px;
    border: 3px #E4393C solid;
}
.header .search input{
    border: none;
}
.header .search input[type=text]{
    margin: 5px;
    width: 400px;
    font: normal 15px/18px "microsoft yahei";
}
.header .search input[type=submit]{
    background: #E4393C;
    float: right;
    margin: 0;
    padding: 0;
    width: 80px;
    font: bold 15px/28px "microsoft yahei";
    color: #ffffff;
    cursor: pointer;
}
.header .cart{
    float: left;
}

.header .banner{
    height: 40px;
}
.header .banner ul{
    float: left;
    list-style: none;
    width: 100%;
    background: #E4393C;
    margin: 0;
    padding: 0;
}
.header .banner li{
    float: left;
    color: #ffffff;
    width: 85px;
}
.header .banner li:first-child{
    width: 200px;
}
.header .banner li:first-child a:hover{
    text-decoration: underline;
    background: #E4393C;
}
.header .banner a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    font: 700 15px/40px "microsoft yahei";
}
.header .banner a:hover{
    background: #A40000;
}

.header .treeMenu{
    border-top: 0;
    border-left: solid #E4393C 2px;
    border-right: solid #E4393C 2px;
    border-bottom: solid #E4393C 2px;
    width: 196px;
}
.header .treeMenu a{
    color: #666666;
    text-decoration: none;
    font: normal 13px/30px "microsoft yahei";
}
.header .treeMenu a:hover{
    color: red;
    text-decoration: underline;
}
.header .treeMenu .grandparent{
    position: relative;
    width: 200px;
    padding-left: 10px;
}

.header .treeMenu .grandparent-item a{
    font: bold 15px/30px "microsoft yahei";
}
.header .treeMenu .grandparent-item a:hover{
    font: bold 16px/30px "microsoft yahei";
}
.header .treeMenu .parents{
    width: 500px;
    position: absolute;
    left: 195px;
    top: 0;
    display: none;
    padding: 0 15px;
    border: solid 1px #C1C1C1;
    background: #ffffff;
}
.header .treeMenu .parents dl{
    margin: 0;
    float: left;
    clear: both;
}
.header .treeMenu dt,.header .treeMenu dd{
    float: left;
}